<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The API</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.cdnfonts.com/css/the-scientist" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/do-futuristic" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lt-binary-neue" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <h1 class="website-name">- The VideoPlayer -</h1>
            <% if (user) { %>
                <p>Welcome, <%= user.username %>!</p>
                <a href="/logout" class="btn">Logout</a>
            <% } else { %>
                <a href="/login" class="btn">Login</a>
            <% } %>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2 class="welcome-title">Welcome to the website</h2>
            <p>"The amount of API existed in this website is more than you think."</p>
        </div>
        <div class="content" style="color:black">
            
            <!-- Search Form -->
            <form id="searchForm">
                <input type="text" id="query" placeholder="Enter search keywords">
                <button class="btn" type="submit">Search</button>

            </form>

            <div class="wrapper">
                <div class="divider div-transparent div-arrow-up"></div>
            </div>
        
            <!-- Search Results -->
            <div id="searchResults" class="grid-container"></div>
            
            <div class="wrapper">
                <div class="divider div-transparent div-arrow-down"></div>
            </div>
            
            <!-- Search Results -->
            <div id="searchResults" class="grid-container"></div>
            
            <!-- YouTube Player -->
            <div id="player"></div>
        
            <!-- YouTube Player API Script -->
            <script src="https://www.youtube.com/iframe_api"></script>
            <!-- Your JavaScript Code -->
            <script src="../script.js"></script>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p class="footer-text">&copy; Evan's website, All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
