<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>-The VideoPlayer- Login</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.cdnfonts.com/css/the-scientist" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/do-futuristic" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/lt-binary-neue" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="container" style="display: flex; width: 100%;">
            <h1 class="website-name">- The VideoPlayer -</h1>
          <div>
            <button class="homebutton" style="transform:translate(0px,10px);">
              <a href="/"><span style="text-decoration: none; color: white !important;">Home</span></a>
            </button>
          </div>
          <div>
            <button class="homebutton" style="transform:translate(0px,10px);">
              <a href="/favorites"><span style="text-decoration: none; color: white !important;">Favorite</span></a>
            </button>
          </div>
          <div>
            <button class="homebutton" style="transform:translate(0px,10px);">
              <a href="/history"><span style="text-decoration: none; color: white !important;">History</span></a>
            </button>
          </div>
        </div>
    </header>
    <section class="hero">
        <div class="container">
            <h2 class="welcome-title">Login</h2>
        </div>
        <form method="POST">
            <div>
                <input type="text" name="username" placeholder="Username" required />
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
        <div>
            <p class="authentication-text">Don't have an account? <a href="/register">Register</a></p>
            <p class="authentication-text">Forgot your password? <a href="/request-reset">Reset</a></p>
        </div>
    </section>    


    <footer>
        <div class="container">
            <p class="footer-text">&copy; Evan's website, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
